body {
  background-color: #dddfe6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 42px;
  color: rgb(0, 69, 122);
}

.main .container {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 60px 0px;
  gap: 0px;
}
.main .container .form {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: linear-gradient(185deg, #dfe1e7, #e4e8f1);
  box-shadow: 20px 20px 60px #afb3bd, -20px -20px 60px #edf2ff;
  border-radius: 20px;
}

.main .container .form form {
  padding: 0px 40px 42px 40px;
  width: 600px;
  display: grid;
  gap: 12px;
}

.main .container .form form .form-div {
  display: grid;
  align-items: start;
  justify-items: start;
  gap: 4px;
}
.main .container .form form .form-div input,
textarea {
  padding: 12px 4px;
  width: 96%;
  background-color: #d8d8d8;
  border: 0.5px solid #b5acac;
  border-radius: 3px;
  color: black;
  background: #ced2de;
  box-shadow: inset 6px 6px 12px #bec1cc, inset -6px -6px 12px #dee3f0;
}

.main .container .form form .form-div::placeholder {
  color: rgb(91, 91, 91);
}

.main .container .form form button {
  padding: 10px;
  border-radius: 4px;
  color: rgb(0, 69, 122);
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  background: #ced2de;
  box-shadow: 6px 6px 12px #bec1cc, -6px -6px 12px #dee3f0;
}
.main .container .form button:hover {
  opacity: 80%;
}

.main .container .form button:disabled,
button[disabled] {
  background: #ced2de;
  color: rgb(128, 128, 128);
  cursor: not-allowed;
}
.main .container .form button:disabled:hover {
  opacity: 100%;
}

.task {
  border-radius: 3px;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  margin-top: 20px;
  background: linear-gradient(185deg, #d2deff62, #ebeef6);
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
  box-sizing: border-box;
  line-height: 14px;
}
.task h1 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 20px;
  width: 550px;
  box-sizing: border-box;
}

.task p {
  font-size: 14px;
  width: 550px;
  box-sizing: border-box;
}
.task .buttons-task {
  margin-top: 20px;
}
.task .buttons-task button {
  cursor: pointer;
}

.task .buttons-task button:hover {
  opacity: 85%;
}

.task .buttons-task .edit {
  background-color: teal;
  border-radius: 4px;
  padding: 4px 6px;
  border: none;
  color: white;
  box-shadow: 6px 6px 12px #bec1cc, -6px -6px 12px #dee3f0;
}
.task .buttons-task .delete {
  background-color: rgb(222, 55, 122);
  border-radius: 4px;
  padding: 4px 6px;
  border: none;
  color: white;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.action-buttons {
  display: flex;
  gap: 12px;
}
.danger {
  background-color: red;
  color: white;
}

@media screen and (min-width: 350px) and (max-width: 662px) {
  body {
    background-color: #eff3fb;
  }
  .main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 30px 8px;
    gap: 0px;
  }

  .main .container .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-content: start;
    text-align: center;
    gap: 20px;
    background: linear-gradient(185deg, #e7e9ee, #cad0df);
    border-radius: 10px;
    box-shadow: 2px 4px #eeee;
  }
  .main .container .form h1 {
    font-size: 32px;
    color: rgb(0, 69, 122);
    height: 20px;
    text-align: center;
  }

  .main .container .form form {
    padding: 0px 20px 22px 20px;
    width: 100%;
    display: grid;
    gap: 12px;
    box-sizing: border-box;
  }

  .main .container .form form .form-div {
    display: grid;
    align-items: start;
    justify-items: start;
    gap: 4px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
  }

  .main .container .form form .form-div input,
  textarea {
    padding: 8px 4px;
    box-sizing: border-box;
    width: 100%;
    background-color: #d8d8d8;
    border: 0.5px solid #b5acac;
    border-radius: 3px;
    color: black;
    background: #ced2de;
    box-shadow: inset 6px 6px 12px #bec1cc, inset -6px -6px 12px #dee3f0;
  }
  .main .container .form form .form-div ::placeholder {
    font-size: 12px;
  }

  .task {
    padding: 12px 12px;
    padding-bottom: 22px;
  }

  .task h1 {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
    width: 350px;
    box-sizing: border-box;
    line-height: 1;
    margin-bottom: 4px;
  }

  .task p {
    font-size: 12px;
    width: 350px;
  }
}
